div a{
    display: inline;
    text-decoration: none;
}
.nav-link{
    display: inline;
}
#company-info{
    display: flex;
    flex-basis: 50%;
}
#nav{
    display: flex;
    flex-basis: 50%;
}
#nav-buttons{
    flex-basis: 50%;
}
#navbar {
    display: flex;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}