a{
    display: inline;
    text-decoration: none;
    color: black;
}
.nav-link{
    display: inline;
}

#nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#nav-buttons{
   display: flex;
    justify-content: flex-end;
}
